@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    
}

body{
    background: var(--color-body);
    font-family: 'Poppins', sans-serif;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px ;
    background: var(--color-body);
    position:fixed;
}

.titulo_header h1{
    font-size: 2.5em;
    color: var(--color-primary);
    margin-top: 2vh;
    margin-left: 10vh;
}

.openMenu{
    display: none;
}


.menu ul{
    margin-right: 2vh;
    display: flex;
    flex-direction:row;

}
.menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secundary);
    padding: 20px;
    text-decoration: none;
    list-style: none;
}

.menu ul li:first-child{
    border: 1px solid green;
    width: 45px;
    height: 15px;
}

.menu ul li a{
    font-size: 1.2em;
    text-decoration: none;
    color: var(--color-secundary);
}

.containerBody{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "full imagenFull "
    ;

}

.fullWebsite{
    grid-area: full;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imgHome{
    grid-area: imagenFull;
}

.bannerFull{
    margin-left: 18vh;
    width: 85vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.bannerFull h1{
    color: var(--color-primary);
    font-size: 5.5em;
}

.bannerFull h3{
    display: flex;
    align-items: flex-start;
    color: var(--color-secundary);
    margin-bottom: 1em;
    font-size: 25px;
}

.btnTodaysMenu{
    background-color: var(--color-primary);
    color: var(--color-secundary);
    width: 28%;
    border-style: none;
    height: 40px;
    font-weight: bold;
}

.imgHamburguesaHome img{
    margin-top: 10vh;
    margin-left: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
}



/* ABOUT US PAGE */


.aboutUsPage{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "aboutUs banner"
    ;
}

.img_aboutUs{
    grid-area: aboutUs;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_aboutUs img{
    margin-left: 5em;
    height: 55%;
    width: 55%;
}

.banner_aboutUs{
    margin-right: 6vh;
    grid-area: banner;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_aboutUs{
    width: 500px;
}
.box_aboutUs h4{
    font-size: 22px;
    color: var(--color-primary);
    margin-bottom: 10px;
}

.box_aboutUs h1{
    font-size: 52px;
    color: var(--color-secundary);
    margin-bottom: 20px;
}

.box_aboutUs h3{
    font-size: 18px;
    color: var(--color-secundary);
    margin-bottom: 18px;
}

.btn_learn{
    color: var(--color-secundary);
    background-color: var(--color-primary);
    border-style: none;
    width: 120px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
}

/* PAGE MENU */

.foodMenuPage{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "bannerMenu"
    "boxesMenu"
    ;
}

.banner_foodMenu{
    grid-area: bannerMenu;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vh;
}

.banner_foodMenu h3{
    color: var(--color-primary);
    font-size: 2em;
    margin-bottom: 3vh;
    margin-top: 15vh;
}

.banner_foodMenu h1{
    color: var(--color-secundary);
    font-size: 8vh;
}

.boxes_foodMenu{
    grid-area: boxesMenu;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15vh;
}

.boxes_foodMenu .box_foodMenu{
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background: var(--color-quinto);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
}


.boxes_foodMenu .box_foodMenu img{
    width: 70%;
    height: 70%;
}

.box_foodMenu:nth-child(3) img {
    width: 60%;
    height: 60%;
    margin-bottom: 30px;
}

.text_foodMenu{
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.text_foodMenu h4{
    
    font-size: 1.3em;
}

.text_foodMenu h5{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
}

.text_foodMenu h6{
    font-size: .8em;
    color: var(--color-primary);
}

/* SERVICE PAGE */

.servicesPage{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "services services services"
    "box box box"
    ;
}


.banner_service{
    height: 40vh;
    grid-area: services;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner_service h3{
    margin-top: 7vh;
    margin-bottom: 4vh;
    font-size: 1.5em;
    color: var(--color-primary);
}


.banner_service h1{
    font-size: 3em;
    color: var(--color-secundary);
}

.boxes_services{
    height: 60vh;
    grid-area: box;
    display: flex;
    justify-content: center;
    
}

.box_services{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55vh;
    width: 50vh;
    margin: 2vh;
}

.box_services img{
    width: 30vh;
    height: 30vh;
}

.box_services h3{
    color: var(--color-primary);
    font-size: 2em;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.box_services h4{
    font-size: 1.4em;
    text-align: center;
    color: var(--color-secundary);
}

/* QUALITY */

.contactPage{
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "contact "
    ;
}

.box_contact{

    width: 100%;
    height: 50vh;
    grid-area: contact;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_contact{
    width: 80%;
    height: 50vh;
    margin-top: 50vh;
    background: var(--color-quinto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

.banner_contact h1{
    font-size: 3em;
    text-align: center;
    margin-bottom: 6vh;
}

.banner_contact button{
    border: none;
    color: var(--color-secundary);
    background: var(--color-primary);
    font-size: 1.2em;
    width: 22vh;
    height: 6vh;
}

/* FOOTER */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box_footer{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 8px;
    width: 30vh;
    height: 30vh;
}  


.menufooter ul{
    margin-top: 2.5vh;
    text-align: left;
}

.menufooter ul li{
    color: var(--color-secundary);
    font-size: 1.1em;
    list-style: none;

}

.title_footer{
    font-size: 1.6em;
    color: var(--color-secundary);
    border-bottom: 2px solid var(--color-primary);
}

.menufooter .box_icon{
    display: flex;
}
.menufooter .box_icon i{
    margin: 2px;
    background: var(--color-primary);
    border-radius:100%;
    width: 1.7em;
    height: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (width < 600px){
    

    .main{
        width: 100%;

    }
    .header{
        width: 100%;
        padding-top: 0;
        position: fixed;
        
    }
    .openMenu{
        border: 1px solid white;
    }

    .titulo_header h1{
        font-size: 1.6em;
        margin-left: 0;
        margin-top: 0;
        padding: 3vh;
    }

    .menu{
        display: none;
    }

    /* MAINPAGE PHONE */
    .containerBody{
        width: 100%;
        margin-top: 0;
        margin-right: 0;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "full"
        "imagenFull"
        ;
    }

    .fullWebsite{
        margin: 0%;
        align-items: center;
        justify-content: center;
    }

    .bannerFull{
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .bannerFull h1{
        margin-top: 10vh;
        font-size: 3em;
    }

    .bannerFull h3{
        margin-top: 2.5vh;
        font-size: 1.5em;
        text-align: center;
    }

    .bannerFull .btnTodaysMenu{
        width: 15vh;
        font-size: 1em;
    }

    .imgHome{
        align-items: center;
        justify-content: center;
    }

    .imgHamburguesaHome{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        margin-left: 0;
    }

    .imgHamburguesaHome img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 80%;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 10vh;
    }

    .aboutUsPage{
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "banner"
        "aboutUs"
        ;
    }
    .img_aboutUs{
        height: 60vh;
        width: 100%;
        grid-area: aboutUs;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner_aboutUs{
        height: 40vh;
        margin-right: 0;
        grid-area: banner;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img_aboutUs img{
        margin-left: 0;
        width: 70%;
        height: 70%;
    }


    .box_aboutUs{
        width: 40vh;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-right: 0;
    }

    .box_aboutUs h4{
        font-size: 1.2em;
    }

    .box_aboutUs h1{
        font-size: 2.3em;
    }

    .box_aboutUs h3{
        font-size: 1em;
        margin-top: 1vh;
        margin-bottom: 4vh;
    }

    
    /* MENU PAGE PHONE */

    .foodMenuPage{
        height: 170vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "bannerMenu"
        "boxesMenu"
        ;
    }

    .banner_foodMenu{
        border: 1px solid white;
        text-align: center;
        margin-bottom: 2vh;
        width: 100%;
    }

    .banner_foodMenu h3{
        font-size: 1.2em;
    }

    .banner_foodMenu h1{
        font-size: 2.5em;
        width: 100%;
    }

    .boxes_foodMenu{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .box_foodMenu{
        width: 70%;
        height: 80%;
    }
    

    /* SERVICES PAGE */
    .servicesPage{
        margin-top: 0;
        padding-top: 0;
        height: 200vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "services"
        "box"
        "box"
        "box"
        ;
        text-align: center;
    }

    .banner_service{
        height: 50vh;
        width: 50vh;
    }

    .banner_service h3{
        font-size: 1.4em;
    }

    .banner_service h1{
        font-size: 2em;
        width: 100%;
    }
    .boxes_services{
        margin-left: 0;
        padding-left: 0;
        width: 100%;
        height: 150vh;
        display: flex;
        flex-direction: column;
    }

    .box_services{
        margin-left: 0;
        padding-left: 0;
        width: 100%;
        grid-area: boxPhone;
    }
    
    .box_services img{
        width: 50%;
        height: 50%;
    }

    .box_services h4{
        width: 80%;
        font-size: 1em;
    }

    /* CONTACT PAGE PHONE */

    .contactPage{
        height: 50vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "contact"
        ;
    }

    .box_contact{
        grid-area: contact;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0;
    }
    
    .banner_contact{
        margin-top: 0;
        padding-top: 0;
        background: var(--color-quinto);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: 50%;
    }

    .banner_contact h1{
        font-size: 1.5em;
    }

    .banner_contact button{
        width: 35%;
        font-size: 1em;
    }

    .footer{
        display: flex;
        flex-direction: column;
        padding: 7vh;
    }
    .menufooter ul li{
        margin: 10px;
    }

    .box_footer:nth-child(4){
        align-items: center;
    }
}

