<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/views.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="titulo_header">
            <h1>Foods</h1>
            <a href="../index.html"><button class="open" id="open"><i class='bx bx-menu'></i></button></a>
        </div>
        

        <div class="menu" id="menu">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../index.html#aboutUsPage">About</a></li>
                <li><a href="../index.html#foodMenuPage">Menu</a></li>
                <li><a href="../index.html#servicesPage">Service</a></li>
                <li><a href="../index.html#contactPage">Contact</a></li>
                
            </ul>
        </div>
    </header>
</body>
</html>